In [ ]:
'''Question 1
Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
Examples
is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

Question 2
Given a string of numbers separated by a comma and space, return the product of the numbers.
Examples
multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6
Notes
The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
The mean will always be an integer.

'''

In [ ]:
'''Question 1
Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
Examples
is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True'''

In [19]:
def sym(num):
    num=str(num)
    x=len(num)
    for i in range(x):
        if num[i]==num[x-1-i]:
            pass
        else:
            return False
            break
    return True


print(sym(7227))
print(sym(723427))
print(sym(12567))
print(sym(44444444))
print(sym(1112111))

True
False
False
True
True

In [ ]:
'''
Question 2
Given a string of numbers separated by a comma and space, return the product of the numbers.
Examples
multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20'''

In [28]:
def mul(string):
    a=string.split(", ")
    d=[]
    for i in a:
        d.append(int(i))
    print(d)
    s=1
    for i in d:
        s=s*i
    return s

mul("1, 2, 3, 4")

[1, 2, 3, 4]

24

In [ ]:
'''Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.'''

In [38]:
def sq(num):
    num=str(num)
    lis=[]
    for i in num:
        i=int(i)
        lis.append(i*i)
    string=''
    for i in lis:
        i=str(i)
        string=string+i
    print(int(string))
    
sq(2483)

416649

In [ ]:
'''Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]'''

In [40]:
def setify(lis):
    lis1=[]
    for i in lis:
        if i not in lis1:
            lis1.append(i)
            lis1.sort()
    return lis1
print(setify([3, 3, 3, 2, 1]))
print(setify([1, 3, 3, 5, 5]))

[1, 2, 3]
[1, 3, 5]

In [ ]:
'''Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6
Notes
The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
The mean will always be an integer.
'''

In [44]:
from functools import reduce
def mean(num):
    num=str(num)
    lis=[]
    for i in num:
        i=int(i)
        lis.append(i)
    x=reduce(lambda x,y:x+y,lis)
    return (x/len(lis))
mean(12345)

3.0